* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
}

img {
    max-width: 100%;
}

.navbar, .header, .footer {
    background: #1f2937;
}

.testimonial {
    background: #e5e7eb;
}

.navbar {
    height: 46px;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.navbar ul {
    list-style-type: none;
}

.navbar .nav a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header {
    min-height: 296px;
}

.header h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.header p {
    font-size: 18px;
    color: #e5e7eb;
}

.header .button {
    background: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
}

.header img {
    color: #e5e7eb;
    text-align: center;
}

.info .container {
    max-width: 768px;
    min-height: 310px;
}

.info .container .box {
    width: 175px;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    height: 104px;
}

.info .box img {
    border-style: solid;
    border: solid #3882f6 2px;
    border-radius: 10px;
}

.info .box h3 {
    font-size: 16px;
    color: #1f2937;
    font-weight: 400;
}

.info .box p {
    font-size: 14px;
    color: #1f2937;
    font-weight: 300;
}


.testimonial .quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
}

.testimonial .container {
    max-width: 768px;
    min-height: 312px;
}

.testimonial p {
    font-size: 16px;
    color: #1f2937;
    font-weight: 700;
}

.action {
    background: #3882f6;
    margin: 36px 0;
    padding: 24px 48px;
    border-radius: 10px;
}

.action h2 {
    font-size: 24px;
    color: #f9faf8;
}

.action p {
    font-size: 16px;
    color: #e5e7eb;
}

.action button {
    background: none;
    color:  #f9faf8;
    border: solid 2px #f9faf8;
    border-radius: 5px;
}

.footer p {
    color:  #f9faf8;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 30px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav {
    display: flex;
    gap: 8px;
}
.header {
    display: flex;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header .container .button {
    padding: 4px 16px;
    margin-top: 8px;
}

.header img {
    flex-shrink: 0;
}

.info .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info .container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .container .boxes {
    display: flex;
    justify-content: space-evenly;
}

.info .container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.testimonial .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial .name {
    display: flex;
    justify-content: flex-end;
}

.container .action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.action .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 24px;
    padding: 4px 24px;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}